.address {
    margin-top: 60px;
}
.address .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.address__map {
    height: 600px;
    width: 1100px;
    margin-top: 60px;
}
.address__map > ymaps {
    border-radius: 45px;
    overflow: hidden;
    }
    .address__list-addres, .address__list-schedule {
        color: white;
        font-style: normal;
        
    }
    .address__list-telephone-link {
        color: white;
        text-decoration: none;
    }
   .address__list-address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-left: 55px;
    padding-right: 50px;
   }
   .address__list-img {
    width: 100px;
    height: 69px;
   }
   .address__list-address:last-child {
    padding-bottom: 10px;
   }
   .address__store-addresses {
    background-color: #10c65a;
    border-radius: 60px;
    margin-top: 40px;
    width: 1100px;
   }
@media screen and (max-width:768px) {
    .address__map {
        width: 550px;
        height: 450px;
    }
    .address__store-addresses {
        width: 550px;
    }
    .address__list-img {
        margin-right: 10px;
    }
    .address__list-addres {
        margin-right: 10px;
    }
}
@media screen and (max-width:480px) {
    .address__map {
        width: 350px;
        height: 400px;
    }
    .address__store-addresses {
        max-width: 350px;
        height:unset;
    }
    .address__list-address {
        flex-direction: column;
    }
    .address__list-addresses {
        display: flex;
        flex-direction: column;
    }
    .address {
        margin-bottom: 45px;
        margin-top: 35px;
    }
}