.feedback {
    margin-top: 100px;
}
.feedback .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.feedback__text {
    margin-bottom: 116px;
    text-align: center;
    width: 762px;
    font-size: 20px;
}
.feedback__form {
    text-align: center;
    background: #10C65A;
    width: 973px;
    height: 675px;
    border-radius: 60px;
}
.feedback__form-input:first-child {
    margin-top: 65px;
}
.feedback__form-input {
    margin-left: 29px;
    margin-bottom: 45px;
}
.feedback_form-name,.feedback__form-email,.feedback__form-message {
    font-size: 20px;
    color: white;
    font-weight: 600;
}
.feedback__form-message {
    position: relative;
    bottom: 250px;
}
.feedback__form-input-text, .feedback__form-input-email {
    margin-left: 85px;
    width: 663px;
    height: 52px;
    border-radius: 20px;
    border: 0px;
    padding-left: 5px;
}
.feedback__form-input-email {
    margin-left: 75px;
}
.feedback__form-textarea {
    margin-left: 12px;
    width: 663px;
    height: 282px;
    border-radius: 20px;
    border: 0;
    padding-left: 10px;
    padding-top: 10px;
}
.feedback__form-input-text:focus, .feedback__form-input-email:focus, .feedback__form-textarea:focus {
    border: 0;
    outline: none;
}
.feedback__form-submit {
    width: 313px;
    height: 67px;
    border-radius: 15px;
    border: 0;
    background-color: #FFA440;
    color: white;
    font-size: 24px;
}

@media screen and (max-width:768px) {
    .feedback__text {
        margin-bottom: 80px;
        max-width: 480px;
    }
    .feedback_form-name,.feedback__form-email,.feedback__form-message {
        font-size: 16px;
        font-weight: 600;
    }
    .feedback__form {
        max-width: 450px;
        max-height: 315px;
    }
    .feedback__form-input-text, .feedback__form-input-email {
        max-width: 240px;
        max-height: 25px;
    }
    .feedback__form-input {
        margin-bottom: 17px;
        margin-left: 0px;
    }
    .feedback__form-input:first-child {
        margin-top: 35px;
    }
    .feedback__form-textarea {
        max-width: 240px;
        max-height: 105px;
        padding-top: 5px;
    }
    .feedback__form-message {
        bottom: 90px;
        right: 5px;
    }
    .feedback__form-submit {
        max-width: 180px;
        max-height: 40px;
        font-size: 16px;
    }
    .feedback {
        margin-top: 75px;
        margin-bottom: 75px;
    }
}
@media screen and (max-width: 480px) {
    .feedback__text {
        font-size: 12px;
        width: 275px;
        margin-bottom: 65px;
    }
    .feedback__form{
        max-width: 220px;
        max-height: 370px;
        border-radius: 30px;
    }
    .feedback__form-input-text, .feedback__form-input-email {
        max-width: 175px;
        max-height: 25px;
        margin-left: 0px;
    }
    .feedback_form-name,.feedback__form-email,.feedback__form-message {
        font-size: 12px;
        
    }
    .feedback__form-textarea {
        max-width: 175px;
        max-height: 110px;
        margin-left: 0px;
    }
    .feedback__form-message {
        position: unset;
        margin-right: 60px;
    }
.feedback_form-name, .feedback__form-email{
   margin-right: 100px;
}
.feedback__form-input:first-child {
    margin-top: 20px;
}
.feedback {
    margin-top: 45px;
}
}