@import url('https://fonts.googleapis.com/css2?family=Jua&family=Plus+Jakarta+Sans:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
header {
    height: 122px;
    width: 100%;
    background-color: #10c65a;
    border-radius: 0 0 30px 30px;
}
.header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.header__logo {
    margin-top: 21px;
}
.header__logo-img {
    width: 354px;
    height: 74px;
    
}
.header__nav {
    margin-top: 45px;
}
.header__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.header__list li {
    margin-left: 90px;
    font-size: 24px;
}
.header__nav-link {
    color:#BCFFBB;
    text-decoration: none;
    font-weight: 500;
}
.header__icons {
    display: flex;
    margin-top: 34px;
    flex-wrap: wrap;
}
.header__icon {
    margin-left: 42px;
}

.header__icon-like, .header__icon-cart, .header__icon-user{
    width: 45px;
    height: 45px;
    color: #BCFFBB;
    fill: #BCFFBB;
}

.header__icon-img {
    color: #BCFFBB;
}
.header__logo-icon {
    display: none;
}
.header__nav-link--vertical {
    display: none;
}
.header__list-item--vertical {
    display: none;
}
@media screen and (max-width: 768px) {
    .header__nav--vertical {
   display: flex;
text-align: center;
        background-color: #10c65a;
        width: 100%;
        height: 100%;
        top: 0;
        position: fixed;
        left: -100%;
        transition: left .3s;
        z-index: 1;
        margin-top: 0px;
    }
    .header__list--vertical {
        flex-wrap: nowrap;
        height: 25%;
       position: absolute;
       top: 50%;
       left: 50%;
       transform: translate(-50%,-20%);
        justify-content: space-around;
        display: flex;
        flex-direction: column;
    }
    .header__list--vertical li {
        margin-left: 0px;
    }
    .header__list-item--vertical {
        display: block;
    }
    .header__list-item {
        margin-bottom: 70px;
    }
    .header__nav-link--vertical {
        display:block ;
    }
    .header__nav--active{
        left:0;
    }
    .header__icon{
        margin-left: 0;
    }
    .header__icon:nth-child(2) {
        overflow-x: hidden;
    }
    .header__icon:nth-child(1), .header__icon:nth-child(3){
        display: none;
    }
    .header__logo {
        display: none;
    }
    .header__logo-icon {
        display: block;
        z-index: 2;
        margin-top: 15px;
        margin-left: 0px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    .header__logo-icon-img {
        width: 95px;

    }
}
@media screen and (max-width:480px) {
    .header__logo-icon-img {
        width: 60px;
    }
    .header__icon-cart {
        width: 35px;
        height: 35px;
    }
    .header {
        height: 65px;
    }
    .header__icons{
        margin-top: 18px;
    }
    .header__logo-icon {
        margin-top: 7px;
    }
    .header__nav-link {
        font-size: 16px;
    }
    .header__list--vertical {
        transform: translate(-50%, -70%);
        top: 35%;
        margin-top: 65px;
    }
    .header__list-item {
        margin-bottom: 45px;
    }
}

