.new-product__products {
display: flex;
justify-content: space-around;
padding-top: 60px;
max-width: 1150px;
margin: 0 auto;
width: 100%;
}
.product {
    background-color: #10c65a;
    width: 278px;
    height: 410px;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: 60px;
}
.new-product__product-img {
    width: 202px;
    margin-top: 37px;
}
.new-product__product-name {
    margin-top: 9px;
    text-align: center;
    width: 250px;
    font-weight: 500;
    line-height: 20px;
}
.new-product__product-price {
    margin-top: 9px;
    font-size: 25px;
    font-weight: 700;
}
.new-product__product-details {
    margin-top: 11px;
    background-color: #ffa440;
    border-radius: 15px;
    width: 202px;
    height: 41px;
    text-align: center;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
}
.new-product__product-details:hover {
    background: #fcb4e6;
}
@media screen and (max-width: 768px) {
    .new-product__products .product:nth-child(3) {
        display: none;
    }
    .new-product__products{
        justify-content: space-between;
    }
}
@media screen and (max-width:480px) {
    .new-product__products .product:nth-child(2) {
        display: none;
    }
    .new-product__products{
        justify-content: center;
        padding-top: 40px;
    }
    .new-product {
        margin-bottom: 45px;
    }
}